<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="shortcut icon" href="{% static "img/favicon.ico" %}">
  </head>
  <body>
    <header>
      <h1>HEADER</h1>
      {% if user and not user.is_anonymous %}
        Hello {{ user.get_full_name | default:user.username}}!
        <a href="{% url 'logout' %}">LogOut</a>
      {% else %}
        I dont think we met before
        <a href="{% url 'social:begin' 'facebook' %}?next={{request.path}}">Login</a>
      {% endif %}


    </header>

    <div class="container">
      {% block page %}
      {% endblock %}
    </div>

    <footer>
      <h1>FOOTER</h1>
    </footer>
  </body>
</html>
