
body{
  padding-top: 80px;
}

#category a {
  padding: 5px 15px;
}

#body{
  background-color: #f7f7f7;
}

#body .banner {
  width: 100%;
  margin-bottom: 20px;
}

a {
  color: #323232;
}

a:hover {
  color:#0bb536;
}

#footer{
  padding: 20px 0;
}

.img-full-width{
  width: 100%;
}



.green {
  color: #0bb536;
}
